*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#btn-mas{
    display: none;
}
.container1{
    position:fixed;
    bottom: 20px;
    right: 20px;
}
.redes a, .btn-mas label{
    display: block;
    text-decoration: none;
    background: #04ee23;;
    color: rgb(0, 0, 0);
    width: 107px;
    height: 43px;
    line-height: 50px;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);
    transition: all 500ms ease;
}
.redes a:hover{
    background: #fff;
    color: #504949;
}
.redes a{
    margin-bottom: -15px;
    opacity: 0;
    visibility: hidden;
}
#btn-mas:checked~ .redes a{
    margin-bottom: 10px;
    opacity: 1;
    visibility: visible;
}
.btn-mas label{
    cursor: pointer;
    background: #04ee23;;
    font-size: 23px;
}
#btn-mas:checked ~ .btn-mas label{
    transform: rotate(180deg);
    font-size: 25px;
}


















